.about {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    padding: 0 82px;

    &__left {
        width: 100%;
        text-align: left;
    }

    &__right {
        max-width: 760px;
        width: 100%;
    }
}

.left, .right {
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
}

.about_hwo {
    margin: 44px auto 10px;
    font-weight: 700;
    font-size: 48px;
}

.left {
    max-width: 556px;
    
    margin-bottom: 169px;
}

.right {
    max-width: 525px;
    margin: 0 auto;
}

