@use '../../../styles/variables.scss' as vb;

.students {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: vb.$color-secondary;
    margin-bottom: 80px;
    &__heading {
        font-size: 48px;
        font-family: vb.$font-primary;
        font-weight: bold;
        margin-top: 80px;
        margin-bottom: 60px;
    }
}

