$yellow: #f7cb85;
$dark-blue: #3a3e6e;
$blue: #335ad2;
$almost-white: #f0f5fd;
$background-color-secondary: #343333;
$background-color: #272727;
$text-color-third: #272727;
$text-color-primary: #e1e1e1;
$text-color-secondary: #72c007;
$color-secondary: #72c007;
$font-primary: 'IBM', sans-serif;
$font-secondary: 'Moloko', sans-serif;