

.firstsreen {
    position: relative;
    padding: 159px 82px 190px;
}

.firstsreen__name {
    font-weight: 700;
    font-size: 130px;
    background: linear-gradient(90deg, #5f9ade 10%, #d45a44 49%, #f7cb85 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: max-content;
}

.firstsreen__description {
    font-weight: 400;
    font-size: 24px;
    max-width: 426px;
    margin-left: 10px;
    margin-top: 47px;
    line-height: 1.2;
}

.firstsreen__button {
    border-radius: 10px;
    width: 277px;
    height: 50px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 39px;
    margin-left: 10px;
}

.firstsreen__button:hover {
    cursor: pointer;
}

.firstscreen_img-1{
    position: absolute;
    top: 12px;
    right: 452px;
    z-index: -1;
}

.firstscreen_img-2{
    position: absolute;
    top: 307px;
    right: 302px;
    z-index: -1;
}

.firstscreen_img-3{
    position: absolute;
    top: 44px;
    right: 72px;
    z-index: -1;
}

