@use '../../../styles/variables.scss' as vb;

.firstsreen {
    position: relative;
    padding: 159px 82px 190px;

    &__name {
        font-family: vb.$font-primary;
        font-weight: 400;
        font-size: 130px;
        color: vb.$text-color-secondary;
        max-width: max-content;
    }

    &__description {
        font-weight: 400;
        font-size: 24px;
        max-width: 426px;
        margin-left: 10px;
        margin-top: 47px;
        line-height: 1.2;
    }

    &__button {
        border-radius: 10px;
        width: 277px;
        height: 50px;
        font-weight: 700;
        font-size: 24px;
        margin-top: 39px;
        margin-left: 10px;

        :hover {
            cursor: pointer;
        }

    }

    &_img {
        max-width: max-content;
        text-align: center;
        
        p{
            position: relative;
            transform: translateY(128px);
            font-weight: 400;
            font-size: 24px;
            color: vb.$text-color-third;
            z-index: 3;
        }

        &-1 {
            position: absolute;
            top: 12px;
            right: 452px;
        } 

        &-2 {
            position: absolute;
            top: 307px;
            right: 302px;
        }

        &-3 {
            position: absolute;
            top: 44px;
            right: 72px;
        }

    }
}

.firstsreen_img:hover img{
    cursor: pointer;
    animation: spin 2s infinite;

}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

