@import url('./reset.css');
@import url('./fonts/fonts.css');
@import url('./components/header/header.css');
@import url('./components/main/main.css');


html {
  font-family: 'IBM', sans-serif;
  background-color: #3A3E6E;
  color: white;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}